In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

2.0.3

In [3]:
df = pd.read_csv("housing.csv")
df.shape

(20640, 10)

In [4]:
missing_cols = df.columns[df.isnull().any()].tolist()
print(missing_cols)

['total_bedrooms']

In [5]:
len(df['ocean_proximity'].unique())

5

In [6]:
df[df['ocean_proximity'] == 'NEAR BAY']['median_house_value'].mean()

259212.31179039303

In [7]:
average = df['total_bedrooms'].mean()
print(average)
# Fill missing values with the mean
df['total_bedrooms'].fillna(average, inplace=True)

# Calculate the updated average
updated_average = df['total_bedrooms'].mean()
print(updated_average)

537.8705525375618
537.8705525375617

In [8]:
df['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [11]:
list(df.columns)

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value',
 'ocean_proximity']

In [12]:
import numpy as np
import pandas as pd

def calculate_w(df):
    # 1. Select all the options located on islands.
    df_island = df[df['ocean_proximity'] == 'ISLAND']

    # 2. Select only columns `housing_median_age`, `total_rooms`, `total_bedrooms`.
    df_selected = df_island[['housing_median_age', 'total_rooms', 'total_bedrooms']]

    # 3. Get the underlying NumPy array. Let's call it `X`.
    X = df_selected.values

    # 4. Compute matrix-matrix multiplication between the transpose of `X` and `X`. Let's call the result `XTX`.
    XTX = X.T.dot(X)

    # 5. Compute the inverse of `XTX`.
    XTX_inv = np.linalg.inv(XTX)

    # 6. Create an array `y` with values `[950, 1300, 800, 1000, 1300]`.
    y = np.array([950, 1300, 800, 1000, 1300])

    # 7. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
    w = XTX_inv.dot(X.T).dot(y)

    # 8. Identify the value of the last element of `w`.
    last_element = w[-1]

    return last_element
calculate_w(df)

5.699229455065586